{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block title %}
    
    {% endblock %}
    
</head>
<body>
    <header class='header'>
        <h1>To Do List</h1>
        <nav class='nav'>
            <ul class='nav-menu'>
                <li class='nav-menu-item'><a href="{% url 'base' %}" class='nav-menu-link nav-link'>Tasks</a></li>
                {% if user.is_authenticated %}
                <li class='nav-menu-item'><a href="{% url 'new_task' %}" class='nav-menu-link nav-link'>Create new task</a></li>
                <li class='nav-menu-item'><a href="{% url 'logout' %}" class='nav-menu-link nav-link'>Log out</a></li>
                {% else %}
                <li class='nav-menu-item'><a href="{% url 'login' %}" class='nav-menu-link nav-link'>Login</a></li>
                <li class='nav-menu-item'><a href="{% url 'register' %}" class='nav-menu-link nav-link'>Register</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>
    <div class='container'>
        {% block content %}
        
        
        {% endblock %}
    </div>
</body>
</html>